.row{
    padding: 25px;
    width: 100%;
    margin: auto;
}
div{    
    background-color: #33d0ef;
    text-align: center;
}
h1{
    margin-left: 40%;
}
p{
    margin-left: 40%;
}
#nombre{
    margin-top: 20px;
    font-weight: bold;
}
@media (min-width: 576px) {
    img{
        position: absolute;
        width: 13%;
        border-radius: 100%;
        left: 3%;
        border-style: solid;
        top: 350px;
    }
}
@media (max-width: 575px) {
    img{
        width: 30%;
        border-radius: 100%;
        left: 42%;
        border-style: solid;
        top: 630px;
    }
}
input{
    margin-right: 710px;
}