<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoap">
        </div>
        <div class="redes">
            <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
            <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
            <a href="https://www.facebook.com/ariel.alvarez10" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://www.instagram.com/arielalvarez20/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/ArielAlvarez95" target="_blank"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.linkedin.com/in/ariel-fernando-alvarez-barbazan-77052415b/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
        </div>     
    </div>
</div>