.row{
    padding: 20px;
    width: 100%;
    margin: auto;
}
div{
    background-color: #33d0ef;
}
h1, h3{
    display: inline;
}
td{
    margin-left: 50%;
}
#logo{
    margin-left: 30%;
}
#logotipo{
    width: 15%;
}